body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url(søppelriktig.jpg), url("søppelflipriktig.jpg");
  background-position: top 0px left 0px, top 1250px left 0px;
  background-repeat: no-repeat;

  font-family: "Lato", sans-serif;
}


.nav {
  overflow: hidden;
  background-color: #f1f1f1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav a {
  color: black;
  text-align: center;
  margin: 8px;
  padding: 12px 12px 12px  12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
  letter-spacing: 3px;
  font-weight: 700;
  display: inline-block;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}


.nav a.btn {
  background-color: #2d9148;
  color: white;
  float: right;

}



#main {
  background-color: white;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  margin-bottom: 15vh;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
}
.maincontent {
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-size: 110%;

}

h2 {
  font-size: 110%;
  color: #2d9148;
}

.column {
  float: left;
  width: 47%;
  margin: 10px;
}
.column2 {
  float: left;
  width: 47%;
  margin: 10px;
  clear: left;
  font-size: 95%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.columnprob {
	float: left;
    width: 47%;
  margin: 10px;
}

.rowprob:after {
  content: "";
  display: table;
  clear: both;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.STG {
  background-color: #2d9148;
  padding: 10px;
  margin-top: 10px;
}


.soltekst {
  text-align: center;
  line-height: 150%;
}

.listesol {
  text-align: left;
  line-height: 150%;
}

@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
  .columnprob {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
}

.footer {
	width: 100%;
    height: 50px;
    color: black;
	background-color: white;
	text-align: center;
  position: relative;
  clear: both;
}

.logo {
  width: 1px;
  height: 1px;
}

/* Responsiv navbar opplegg */
.nav .icon {
  display: none;

}

@Media screen and (max-width: 750px){
  .nav {
    position: absolute;
  }

  .nav a:not(:first-child){
    display: none;
  }
  .nav a.icon {
    display: block;
    font-size: 25px;
    float: right;
  }

  .nav.hamburger {
    position: relative;
  }
  .nav.hamburger .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.hamburger a {
    float: none;
    display: block;
    text-align: left;


  }

}

.fa-home {
  padding-right: 15px;
}
